@font-face {
  font-family: powerpuff;
  src: url(/public/font/powerpuff\ girls\ font.ttf);
  font-family: plantinProBold;
  src: url(/public/font/PlantinMTProCnBd.TTF);

}


body {
  padding: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

h2 {
  font-family: plantinProBold;
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

button {
  cursor: pointer;
  padding: 5px;
}

#play,
#next,
#prev {
  margin: 10px;
  padding: 10px;
}

#track-title {
  font-weight: bold;
}

.hidden {
  display: none;
}

#slider-container {
  width: 100%;
  height: 10px;
  background: gray;
  position: relative;
}

#progress-bar {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  cursor: pointer;
}

li {
  /* width: 7vw;
  height: 7vw; */

}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
}

.button {
  width: 2rem;
}
.button:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}
#pause{
  width: 10px;
  height: 10px;
}
.track-name-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(214, 168, 198);
  /* -webkit-text-stroke: 2px black; */
  text-shadow: 1px 1px 2px rgb(34, 33, 33);
}

#track-name {
  opacity: 0;
}

.trackPosition {
  width: 100%;
  /* position: absolute; */
  text-align: center;
  top: 50%;
  margin: 0;
  margin-top: 0;
  font-size: 100px;
}

#videoBg {
  position: absolute;
}
.music-img{
left:0;
}
.music-img:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}
#my-music-container{
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 3%;
  gap: 20px;
  width: fit-content;
}
a{
  text-decoration: none;
  color: black;
}